In [11]:
def count_value(n):
    n=input()
    a=n.lower()
    count=0
    for i in range(0,len(a)):
        if[a] in "aeiou":
            count+=1
    return count


word=input("enter")
print("no of vowels",count_values(word))

enter Hyderabad

NameError: name 'count_values' is not defined

In [11]:
#vount vowels in string
x='India'
vowels='aeiou'
c=0
for i in x:
    if i.lower() in vowels:
        c+=1
print(c)

3

In [23]:
#D
l=[30,42,56,45,35]
r=[item-5 if item %5==0 else item for item in l]
print(r)

[25, 42, 56, 40, 30]

In [14]:
#sort by there index
def sort_even_odd_index(a):
    odd_list = []
    even_list = []
    for i in range(len(a)):
        if i %2 == 0:
            even_list.append(a[i])
        else:
            odd_list.append(a[i])
    return even_list,odd_list

a = [23,24,45,67,99,54,20]
even_list,odd_list = sort_even_odd_index(a)
print(even_list)
print(odd_list)

[23, 45, 99, 20]
[24, 67, 54]

In [1]:
l = [20, 35, 45, 30, 60, 75, 85, 45, 25, 40]
o_list = []
e_list = []

for i in range(len(l)):
    if i % 2 == 0:
        e_list.append(l[i])
    else:
        o_list.append(l[i])

print(sum(e_list))   
print(sum(o_list))

235
225

In [3]:
l = [20, 35, 45, 30, 60, 75, 85, 45, 25, 40]
sum_even=0
sum_odd=0
for i in range(len(l)):
    if l[i] %2==0:
        sum_even +=i
    else:
        sum_odd +=i
print(sum_even)
print(sum_odd)

16
29

In [10]:
l=['mumbai','hyd','delhi','Dubai','Jaipur','kolkata','Chennai','Dasnish','dog','joker','kitkat','chocolet','Dellas']
d=[]
for i in range(len(l)):
    if(l[i][0]=="D" or l[i][0]=='d'):
        d.append(l[i])
print(d)

['delhi', 'Dubai', 'Dasnish', 'dog', 'Dellas']

In [3]:
l = ['mumbai','hyd','delhi','Dubai','Jaipur','kolkata','Chennai','Dasnish','dog','joker','kitkat','chocolet','Dellas']
l1 = [20, 35, 45, 30, 60, 75, 85, 45, 25, 40, 14, 15]
l3 = {}
for i in range(len(l1)):   
    l3[l[i]] = l1[i]       
print(l3)

{'mumbai': 20, 'hyd': 35, 'delhi': 45, 'Dubai': 30, 'Jaipur': 60, 'kolkata': 75, 'Chennai': 85, 'Dasnish': 45, 'dog': 25, 'joker': 40, 'kitkat': 14, 'chocolet': 15}

In [5]:
keys = ['mumbai','hyd','delhi','Dubai','Jaipur','kolkata','Chennai','Dasnish','dog','joker','kitkat','chocolet','Dellas']
values = [20, 35, 45, 30, 60, 75, 85, 45, 25, 40, 14, 15]
l = {}  
for i in range(len(values)): 
    l[keys[i]] = values[i]
f = {}   
for key, value in l.items():
    if value < 100:
        f[key] = value
print(f)

{'mumbai': 20, 'hyd': 35, 'delhi': 45, 'Dubai': 30, 'Jaipur': 60, 'kolkata': 75, 'Chennai': 85, 'Dasnish': 45, 'dog': 25, 'joker': 40, 'kitkat': 14, 'chocolet': 15}

In [7]:
s={'mumbai': 20, 'hyd': 35, 'delhi': 45, 'Dubai': 30, 'Jaipur': 60, 'kolkata': 75, 'Chennai': 85, 'Dasnish': 45, 'dog': 25, 'joker': 40, 'kitkat': 14, 'chocolet': 15}
def city_le(s):
    l=[]
    for i in s:
        if s[i]<100:
            l.append(i)
        return l

In [13]:
def count_vowels(text):
    vowels = "aeiouAEIOU"
    count =0
    for char in text:
        if char  not in vowels:
            count +=1
    return count
count_vowels("srujan")

4

In [15]:
def sum_odd_even(a):
    sum_even = 0
    sum_odd = 0
    for i in a:
        if i %2 == 0:
            sum_even += i
        else:
            sum_odd += i
    return sum_even,sum_odd
        
a = [20,35,45,30,60,75,85,45,25,40]
sum_even,sum_odd = sum_odd_even(a)
print(sum_even)
print(sum_odd)

150
310

In [16]:
#add the even number indexs and odd number indexes 
def even_odd_index(a):
    sum_even = 0
    sum_odd = 0
    for i in range(len(a)):
        if a[i] %2 == 0:
            sum_even += i
        else:
            sum_odd += i
    return sum_even,sum_odd
a = [20,35,45,30,60,75,85,45,25,40]
sum_even,sum_odd = even_odd_index(a)
print(sum_even)
print(sum_odd)

16
29